<html>
<head>
<title>Trello Risk/Reward</title>
<link rel="stylesheet" type="text/css" href="/styles/default.css" />
<script type="text/javascript" src="/scripts/jquery-1.8.3.min.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>

