/* top right bottom left */

body {
  font-family: Helvetica, Courier, Arial;
  background: #FFFFFF;
}

#left-frame {
  width: 666px;
  float: left;
}

.cell {
  width: 208px;
  margin: 0px;
  padding: 4px;
  border: solid 1px #AAAAAA;
}

#right-frame {
  float: left;
  margin-left: 10px;
}

.card {
  width: 196px;
  margin: 2px;
  padding: 4px;
  border: solid 1px #AAAAAA;
}
